
.btnFilter {
  border-radius: 50px;
  color: black;
  text-align: center;
}

.btnSubmitFilter {
  border-radius: 50px;
  background-color: rgb(180,61,102);
}

.colorText {
  color: rgb(180,61,102);
}