body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.content:hover {
  cursor: pointer;
}

.side:hover {
  cursor: pointer;
}

.content {
  font-size: 18px;
  color: #ce0d81;
  font-weight: 500;
}

.side {
  font-size: 14px;
}

.label-filter {
  color: #3B4040;
  font-size: 16px;
  font-weight: 400;
}

.card-title {
  font-weight: 700;
  color: #ab0b6b;
}

.icon-heart {
  border-radius: 30px;
}
