@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #fff;
}

/* f0199a */

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.content:hover {
  cursor: pointer;
  border-bottom-style: solid;
  border-color: #fff;
}

.btn-1 {
  background-color: #fff;
  color: #ab0b6b;
  border-color: #ab0b6b;
}

.btn-1:hover {
  background-color: #ab0b6b;
  color: #fff;
  border-color: #ab0b6b;
}

.side:hover {
  cursor: pointer;
}

.content {
  font-size: 20px;
  color: #f0199a;
  font-weight: 500;
}

.side {
  font-size: 14px;
}

.label-filter {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.card-title {
  font-weight: 700;
  color: #ab0b6b;
}

.icon-heart:hover {
  cursor: pointer;
}

.icon-heart {
  background-color: #fff;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  padding-top: 4px;
  padding-right: 1px;
}

.btn1 {
  border-color: #ab0b6b;
  background-color: #ab0b6b;
  color: #fff;
  width: 100px;
  border-radius: 25px;
}

.btn1:hover {
  border-color: #fff;
  background-color: #fff;
  color: #ab0b6b;
  width: 100px;
}

.card:hover {
  cursor: pointer;
}

.carousel .carousel-item {
  height: 300px;
}

.carousel-item img {
  position: absolute;
  object-fit: contain;
  top: 0;
  left: 0;
}

.btn-purple {
  color: #B90060;
  border-color: #B90060;
}

.btn-purple:hover {
  color: #fff;
  background-color: #B90060;
}